{% extends "BoxesHUBBoxBundle::base.html.twig" %}
{% block page_head %}{% endblock %}
{% block page_content %}

<div class="row margin-top-10">
<div class="col-md-12">
    <div class="portlet light">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject theme-font bold uppercase">Buy Balance Mailbox # {{ user.id }}</span>
                        </div>         
                    </div>
                    <div class="portlet-body">
                        <div class="portlet portlet box grey">
                            <div class="portlet-title">
                                        <div class="caption">
                                                Buy balance using Paypal
                                        </div>
                            </div>
                            <div class="portlet-body">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post"  target="_blank" id="form_paypal">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="G94VBE8KJB748">
                                        <div class="form-group  margin-top-10">
                                            <input type="hidden" name="on0" value="Amount options" >
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="control-label" for="os0">Amount options</label>
                                                     <select name="os0" class="select2 form-control" id="os0">
                                                            <option value="$25 Balance">$25 Balance $25.00 USD</option>
                                                            <option value="$50 Balance">$50 Balance $50.00 USD</option>
                                                            <option value="$ 100 Balance">$100 Balance $100.00 USD</option>
                                                            <option value="$150 Balance">$150 Balance $150.00 USD</option>
                                                            <option value="$200 Balance">$200 Balance $200.00 USD</option>
                                                            <option value="$250 Balance">$250 Balance $250.00 USD</option>
                                                            <option value="$350 Balance">$350 Balance $350.00 USD</option>
                                                            <option value="$400 Balance">$400 Balance $400.00 USD</option>
                                                            <option value="$450 Balance">$450 Balance $450.00 USD</option>
                                                            <option value="$500 Balance">$500 Balance $500.00 USD</option>
                                                     </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="hidden" name="on1" value=" {{ user.username }}" id="on1">
                                                    <input type="text" name="os1" maxlength="200" style="display:none" value=" {{ user.email }}">
                                                    <div class="margin-top-10">
                                                        <input type="hidden" name="currency_code" value="USD">
                                                        <input type="image" id="button_paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                    </div>
                                                </div>
                                                <div id="mailload" style="display:none">
                                                </div>    
                                            </div>
                                        </div>
                                   </form>
                                <div class="alert alert-success" align="center" id="buypaypalresult" style="display:none">
                                Processing your request from PayPal
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet portlet box grey">
                            <div class="portlet-title">
                                        <div class="caption">
                                                 Buy balance via wire transfer
                                        </div>
                            </div>
                            
                            
                            <div class="portlet-body">
                                {% if message %}
                                    <div>
                                       {% if message == 'MSG_01' %}
                                           <div class="alert alert-success display-show" align="center">
                                               <strong>Success: </strong> Create credit
                                           </div>

                                       {% else  %}

                                         <div class="alert alert-error display-show" align="center">
                                          <strong>Error: </strong> Unable to create credit
                                        </div>
                                       {% endif  %}
                                       
                                    </div>
                            {%endif %}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_start(form) }}
                                         <div class="form-group">
                                            {{ form_row(form.bank, { 'attr': {'class': 'form-control placeholder-no-fix' }}) }}          
                                         </div>
                                          <div class="form-group">
                                            {{ form_row(form.beneficiary, { 'attr': {'class': 'form-control placeholder-no-fix' }}) }}          
                                         </div>
                                         <div class="form-group">
                                            {{ form_row(form.creditdate, { 'attr': {'class': 'form-control placeholder-no-fix', 'value': "now"|date('m/d/Y')}}) }}         
                                         </div>
                                         <div class="form-group">
                                            {{ form_row(form.amount, { 'attr': {'class': 'form-control placeholder-no-fix' }}) }}          
                                         </div>
                                         <div class="form-group">
                                            {{ form_row(form.reference, { 'attr': {'class': 'form-control placeholder-no-fix' }}) }}          
                                         </div>
                                         
                                        
                                         <div class="form-group">
                                            {{ form_row(form.comment, { 'attr': {'class': 'form-control placeholder-no-fix' }}) }}          
                                         </div>
                                         <div class="actions">
                                             {{ form_widget(form.submit,{ 'attr': {'class': 'btn grey-mint pull-right'} }) }}
                                         </div>
                                        {{ form_end(form) }}
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-justify">
                                            <span class="bold">Beneficiary:</span> Boxeshub Inc <br>
                                            <span class="bold">Bank:</span> Bank of America N.A.<br>
                                            <span class="bold">ABA:</span> 063000047<br>
                                            <span class="bold">SWIFT:</span> BOFAUS3MXXX<br>
                                            <span class="bold">Account:</span> 898066646513<br>
                                            <span class="bold">Bank Address:</span> 15891 Sheridan St, Davie, FL 33331<br>
                                            <span class="bold">Beneficiary Address:</span> 4474 Weston Rd. #383, Davie FL, 3333, USA<br>
                                            <span class="bold">Beneficiary Phone:</span> (954) 389-43-70<br>
                                            <span class="bold">Beneficiary Email:</span> sales@boxeshub.com<br><br>
                                            <span class="bold">Minimum Amount:</span> $100
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                 
</div>
</div>

{% endblock %}
{% block body_scripts %}
 <!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset("bundles/boxeshubbox/scripts/balance_buy.js")}}" type="text/javascript"></script>
<script src="{{ asset("bundles/boxeshubbox/scripts/utils.js")}}" type="text/javascript"></script>   
<!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}

