{% extends "BoxesHUBBoxBundle::base.html.twig" %}
{% block link %}
<link href="{{ asset("bundles/boxeshubbox/assets/global/plugins/select2/select2.css")}}" rel="stylesheet" type="text/css"/>
<link href="{{ asset("bundles/boxeshubbox/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css")}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_head %}{% endblock %}
{% block page_content %}

<div class="row margin-top-10">
<div class="col-md-12">
    <div class="portlet light">
        <div class="row">
            
            <div class="col-md-12">
               <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md col-md-6">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font uppercase"><strong>Balance: </strong>${{  user_balance.currentbalance|number_format(2, '.', ',')}}</span>
                    </div>
                    <div class="actions col-md-6">
                        {% set style ="none" %}
                        {% if is_granted('ROLE_ADMIN') %} 
                           
                            <div class="pull-right">
                               
                                {% set style ="block" %}
                                <a href="{{ path('boxes_newtransaction') }}" class="btn grey-mint">
                                <i class="fa fa-cogs"></i> Add Transaction</a>
                            </div>
                             <div class="pull-right">&nbsp;&nbsp;</div>
                        {% endif %}
                             
                             <div class="pull-right">  
                                 <a href="{{ path('boxes_buybalance') }}" class="btn grey-mint">
                                <i class="fa fa-dollar"></i> Buy Balance</a>
                            </div>
                    </div>
                </div>
                            
                 
                <div class="portlet-body">  
                        <div class="portlet-body">
                                <div class="table-toolbar">
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <h4><strong>Mailbox #</strong>{{ user_balance.id }}<strong> User: </strong> {{ user_balance.username }} </h4>
                                                    
                                                </div>
                                                <div class="col-md-10 pull-right">
                                                    <div class="portlet-body form">
                                                        
                                                        {{ form_start(form) }}
                                                          
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="portlet">
                                                                            <div class="actions">
                                                                                <div class="form-group  pull-right">
										    {{ form_widget(form.submit,{ 'attr': {'class': 'btn grey-mint pull-right'} }) }}
                                                                                </div>
                                                                                <div class="form-group col-md-3 pull-right">
                                                                                    {{ form_label(form.year, 'Year', {'label_attr': {'class': 'control-label col-md-3'}}) }}
                                                                                   <div class="col-md-8">
                                                                                         {{ form_widget(form.year, { 'attr': {'class': 'form-control' }}) }}
                                                                                   </div>
                                                                                </div>

                                                                                <div class="form-group col-md-4 pull-right">
                                                                                     {{ form_label(form.month, 'Month', {'label_attr': {'class': 'control-label col-md-3'}}) }}
                                                                                     <div class="col-md-9">
                                                                                         {{ form_widget(form.month, { 'attr': {'class': 'form-control' }}) }}
                                                                                     </div>
                                                                                 </div>

                                                                                <div class="form-group pull-right col-md-4" style="display:{{ style }}" >
                                                                                   <div class="col-md-6">
                                                                                       {{ form_label(form.userid, 'Mailbox #', {'label_attr': {'class': 'control-label col-md-12'}}) }}<br>
                                                                                   </div>
                                                                                   <div class="col-md-6">
                                                                                           {{ form_widget(form.userid, { 'attr': {'class': 'form-control' }}) }}
                                                                                        <div id="usernameshow" align="center"></div> 
                                                                                   </div>
                                                                                   <input type="hidden" id="boxesid" name="boxesid" />
                                                                                   
                                                                               </div>
                          
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                          {{ form_end(form) }}
                                                    </div>
                                                </div>
                                        </div>
                                </div>
                                
                                {% if entities  %}  
                  
                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                <tr>
                                        <th width="10%" >
                                                Ref.#
                                        </th>
                                        <th width="15%">
                                                 Date
                                        </th>
                                        <th width="10%">
                                                 Type
                                        </th>
                                        <th width="30%">
                                                 Operation
                                        </th>
                                        <th width="10%">
                                                 Debit
                                        </th>
                                        <th width="10%">
                                                 Credit
                                        </th>
                                        <th width="10%">
                                                 Balance
                                        </th>
                                        
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                <tr class="odd gradeX">
                                        <td>
                                                 {{ entity.id}}
                                        </td>
                                        <td>
                                                 {% if entity.exedate %}{{ entity.exedate|date('j M, Y H:i:s') }}{% endif %}
                                        </td>
                                         <td>
                                                 {{ entity.type }}
                                        </td>
                                        <td>
                                            <div  id="accordion">
                                                <div >
                                                    {{ entity.operation }}
                                                    <a class="accordion-toggle accordion-toggle-styled pull-right" data-toggle="collapse" data-parent="#accordion{{ entity.id }}" href="#collapse{{ entity.id }}">
                                                         <i class="fa fa-caret-down"></i>		
                                                    </a>
                                                </div>
                                                <div id="collapse{{ entity.id }}" class="collapse">
                                                    {{ entity.comment }}
                                                </div>
                                              
                                            </div>
                                        </td>
                                        <td>
                                                 {% if entity.type == 'DEBIT' %}
                                                 {{ entity.amount|number_format(2, '.', ',') }}
                                                 {% endif %}
                                        </td>
                                        <td>
                                                 {% if entity.type == 'CREDIT' %}
                                                 {{ entity.amount|number_format(2, '.', ',') }}
                                                 {% endif %}
                                        </td>
                                        <td>
                                                {{  entity.balance|number_format(2, '.', ',') }}
                                        </td>
                                         
                                </tr>

                                {% endfor %}
                                </tbody>
                                </table>
                               
                        </div>
					
                </div>   
                   {% else%}
           
                 <div class="portlet-body">  
                    <div class="alert alert-warning" align="center">
                    <strong>Notice:</strong> You don't have transactions
                    </div>
                 </div>
            {% endif %}
               </div>
            </div>
        </div>
    </div>                 
</div>
</div>

{% endblock %}
{% block body_scripts %}
 <!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset("bundles/boxeshubbox/assets/global/plugins/select2/select2.min.js")}}" type="text/javascript"></script>
<script src="{{ asset("bundles/boxeshubbox/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js")}}" type="text/javascript"></script>
<script src="{{ asset("bundles/boxeshubbox/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js")}}" type="text/javascript"></script>
<script src="{{ asset("bundles/boxeshubbox/scripts/balance_show.js")}}" type="text/javascript"></script>

<!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}
