{% extends "BoxesHUBBoxBundle::base.html.twig" %}
{% block page_head %}{% endblock %}
{% block page_content %}

<div class="row margin-top-10">
<div class="col-md-12">
    <div class="portlet light">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                
                <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">Add Transaction Mailbox # {{ user }}</span>
                    </div>         
                </div>
                <div class="portlet-body form">
                  
                     {{ form_start(form) }}
                     <div class="form-body">
                    <div class="form-group" style="display:none" >
                        <div class="row">
                            <div class="col-md-6" >
                            {{ form_label(form.user, 'Mailbox #', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.user, { 'value': user , 'attr': {'class': 'form-control' }}) }}   
                            </div>
                            <div  style="height:40px" >
                                <p>&nbsp;</p>
                                <p id="usernameshow"></p>
                            </div>
                            <input type="hidden" id="boxesid" name="boxesid" value="{{ user}}" />
                        </div> 
                    </div>
                     <div class="form-group">
                        {{ form_row(form.type, { 'attr': {'class': 'form-control placeholder-no-fix' }}) }}          
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6" >
                                 <label class="control-label" for="choption">Operation</label>
                                <select id='choption' name='choption' class='select2 form-control placeholder-no-fix'> 
                                    <option value=''></option>
                                </select>
                            </div>
                            <div class="col-md-6" >
                                
                                <p>&nbsp;</p>
                                 <a href="javascript:open_form ('{{ path('boxes_newoperation') }}', 450, 400 )" class="btn grey-mint">
                                        <i class="fa fa-cogs"></i> Add Operation
                                 </a>
                                  {{ form_row(form.operation) }}  
                            </div>
                        </div>
                    </div>
                  
                    <div class="form-group">
                      
                        {{ form_row(form.exedate, { 'attr': {'class': 'form-control placeholder-no-fix', 'value': "now"|date('m/d/Y')}}) }}
                   
                    </div>
                   
                   
                    <div class="form-group">
                        {{ form_row(form.amount, { 'attr': {'class': 'form-control placeholder-no-fix' }}) }}          
                    </div>
                    <div class="form-group">
                        {{ form_row(form.usernameregister, { 'attr': {'class': 'form-control placeholder-no-fix' , 'value': app.user.username}}) }}          
                    </div>
                     <div class="form-group">
                        {{ form_row(form.comment, { 'attr': {'class': 'form-control placeholder-no-fix' }}) }}          
                    </div>
                     <div class="form-group" style="display:none">
                       <p id="selectoption" style="display:none">&nbsp;</p>         
                    </div>
                    <div class="actions">
                        <a href="{{ path('boxes_balance') }}">
                        {{ form_widget(form.button,{ 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                        </a>
                         {{ form_widget(form.submit,{ 'attr': {'class': 'btn grey-mint pull-right'} }) }}

                    </div>
                              
                     </div>
                {{ form_end(form) }}
                </div> 
                </div>
            </div>
        </div>
    </div>                 
</div>
</div>

{% endblock %}
{% block body_scripts %}
 <!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset("bundles/boxeshubbox/scripts/balance_new.js")}}" type="text/javascript"></script>
<script src="{{ asset("bundles/boxeshubbox/scripts/utils.js")}}" type="text/javascript"></script>   
<!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}

