{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Transaction</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Exedate</th>
                <td>{{ entity.exedate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ entity.amount }}</td>
            </tr>
            <tr>
                <th>Usernameregister</th>
                <td>{{ entity.usernameregister }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('boxes_balance') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('boxes_edittransactions', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
